<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New Hampshire</key>
	<array>
		<string>03756</string>
		<string>03755</string>
	</array>
	<key>New Jersey</key>
	<array>
		<string>07046</string>
		<string>07054</string>
	</array>
	<key>Pennsylvania</key>
	<array>
		<string>15208</string>
		<string>15217</string>
		<string>15222</string>
		<string>15213</string>
	</array>
</dict>
</plist>
