<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Area</key>
		<string>652230</string>
		<key>Country</key>
		<string>Afghanistan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>123</string>
		<key>Country</key>
		<string>Akrotiri</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>28748</string>
		<key>Country</key>
		<string>Albania</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2381741</string>
		<key>Country</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>199</string>
		<key>Country</key>
		<string>American Samoa</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>468</string>
		<key>Country</key>
		<string>Andorra</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1246700</string>
		<key>Country</key>
		<string>Angola</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>91</string>
		<key>Country</key>
		<string>Anguilla</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>443</string>
		<key>Country</key>
		<string>Antigua and Barbuda</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2780400</string>
		<key>Country</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>29743</string>
		<key>Country</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>180</string>
		<key>Country</key>
		<string>Aruba</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>5</string>
		<key>Country</key>
		<string>Ashmore and Cartier Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>7741220</string>
		<key>Country</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>83871</string>
		<key>Country</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>86600</string>
		<key>Country</key>
		<string>Azerbaijan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>13880</string>
		<key>Country</key>
		<string>Bahamas, The</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>760</string>
		<key>Country</key>
		<string>Bahrain</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>143998</string>
		<key>Country</key>
		<string>Bangladesh</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>430</string>
		<key>Country</key>
		<string>Barbados</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>207600</string>
		<key>Country</key>
		<string>Belarus</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>30528</string>
		<key>Country</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>22966</string>
		<key>Country</key>
		<string>Belize</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>112622</string>
		<key>Country</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>54</string>
		<key>Country</key>
		<string>Bermuda</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>38394</string>
		<key>Country</key>
		<string>Bhutan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1098581</string>
		<key>Country</key>
		<string>Bolivia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>51197</string>
		<key>Country</key>
		<string>Bosnia and Herzegovina</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>581730</string>
		<key>Country</key>
		<string>Botswana</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>49</string>
		<key>Country</key>
		<string>Bouvet Island</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>8514877</string>
		<key>Country</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>54400</string>
		<key>Country</key>
		<string>British Indian Ocean Territory</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>151</string>
		<key>Country</key>
		<string>British Virgin Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>5765</string>
		<key>Country</key>
		<string>Brunei</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>110879</string>
		<key>Country</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>274200</string>
		<key>Country</key>
		<string>Burkina Faso</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>676578</string>
		<key>Country</key>
		<string>Burma</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>27830</string>
		<key>Country</key>
		<string>Burundi</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>181035</string>
		<key>Country</key>
		<string>Cambodia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>475440</string>
		<key>Country</key>
		<string>Cameroon</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>9984670</string>
		<key>Country</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>4033</string>
		<key>Country</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>264</string>
		<key>Country</key>
		<string>Cayman Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>622984</string>
		<key>Country</key>
		<string>Central African Republic</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1284000</string>
		<key>Country</key>
		<string>Chad</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>756102</string>
		<key>Country</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>9596961</string>
		<key>Country</key>
		<string>China</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>135</string>
		<key>Country</key>
		<string>Christmas Island</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>6</string>
		<key>Country</key>
		<string>Clipperton Island</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>14</string>
		<key>Country</key>
		<string>Cocos (Keeling) Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1138910</string>
		<key>Country</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2235</string>
		<key>Country</key>
		<string>Comoros</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2344858</string>
		<key>Country</key>
		<string>Congo, Democratic Republic of the</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>342000</string>
		<key>Country</key>
		<string>Congo, Republic of the</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>236</string>
		<key>Country</key>
		<string>Cook Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>3</string>
		<key>Country</key>
		<string>Coral Sea Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>51100</string>
		<key>Country</key>
		<string>Costa Rica</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>322463</string>
		<key>Country</key>
		<string>Cote d'Ivoire</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>56594</string>
		<key>Country</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>110860</string>
		<key>Country</key>
		<string>Cuba</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>444</string>
		<key>Country</key>
		<string>Curacao</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>9251</string>
		<key>Country</key>
		<string>Cyprus</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>78867</string>
		<key>Country</key>
		<string>Czech Republic</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>43094</string>
		<key>Country</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>131</string>
		<key>Country</key>
		<string>Dhekelia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>23200</string>
		<key>Country</key>
		<string>Djibouti</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>751</string>
		<key>Country</key>
		<string>Dominica</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>48670</string>
		<key>Country</key>
		<string>Dominican Republic</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>283561</string>
		<key>Country</key>
		<string>Ecuador</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1001450</string>
		<key>Country</key>
		<string>Egypt</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>21041</string>
		<key>Country</key>
		<string>El Salvador</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>28051</string>
		<key>Country</key>
		<string>Equatorial Guinea</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>117600</string>
		<key>Country</key>
		<string>Eritrea</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>45228</string>
		<key>Country</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1104300</string>
		<key>Country</key>
		<string>Ethiopia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>12173</string>
		<key>Country</key>
		<string>Falkland Islands (Islas Malvinas)</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1393</string>
		<key>Country</key>
		<string>Faroe Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>18274</string>
		<key>Country</key>
		<string>Fiji</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>338145</string>
		<key>Country</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>643801</string>
		<key>Country</key>
		<string>France</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>4167</string>
		<key>Country</key>
		<string>French Polynesia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>55</string>
		<key>Country</key>
		<string>French Southern and Antarctic Lands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>267667</string>
		<key>Country</key>
		<string>Gabon</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>11295</string>
		<key>Country</key>
		<string>Gambia, The</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>360</string>
		<key>Country</key>
		<string>Gaza Strip</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>69700</string>
		<key>Country</key>
		<string>Georgia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>357022</string>
		<key>Country</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>238533</string>
		<key>Country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>7</string>
		<key>Country</key>
		<string>Gibraltar</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>131957</string>
		<key>Country</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2166086</string>
		<key>Country</key>
		<string>Greenland</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>344</string>
		<key>Country</key>
		<string>Grenada</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>108889</string>
		<key>Country</key>
		<string>Guatemala</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>78</string>
		<key>Country</key>
		<string>Guernsey</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>245857</string>
		<key>Country</key>
		<string>Guinea</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>36125</string>
		<key>Country</key>
		<string>Guinea-Bissau</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>214969</string>
		<key>Country</key>
		<string>Guyana</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>27750</string>
		<key>Country</key>
		<string>Haiti</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>412</string>
		<key>Country</key>
		<string>Heard Island and McDonald Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>0</string>
		<key>Country</key>
		<string>Holy See (Vatican City)</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>112090</string>
		<key>Country</key>
		<string>Honduras</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1104</string>
		<key>Country</key>
		<string>Hong Kong</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2</string>
		<key>Country</key>
		<string>Howland Island</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>93028</string>
		<key>Country</key>
		<string>Hungary</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>103000</string>
		<key>Country</key>
		<string>Iceland</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>3287263</string>
		<key>Country</key>
		<string>India</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1904569</string>
		<key>Country</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1648195</string>
		<key>Country</key>
		<string>Iran</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>438317</string>
		<key>Country</key>
		<string>Iraq</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>70273</string>
		<key>Country</key>
		<string>Ireland</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>572</string>
		<key>Country</key>
		<string>Isle of Man</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>20770</string>
		<key>Country</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>301340</string>
		<key>Country</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>10991</string>
		<key>Country</key>
		<string>Jamaica</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>377</string>
		<key>Country</key>
		<string>Jan Mayen</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>377915</string>
		<key>Country</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>116</string>
		<key>Country</key>
		<string>Jersey</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>89342</string>
		<key>Country</key>
		<string>Jordan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2724900</string>
		<key>Country</key>
		<string>Kazakhstan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>580367</string>
		<key>Country</key>
		<string>Kenya</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>811</string>
		<key>Country</key>
		<string>Kiribati</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>120538</string>
		<key>Country</key>
		<string>Korea, North</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>99720</string>
		<key>Country</key>
		<string>Korea, South</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>10887</string>
		<key>Country</key>
		<string>Kosovo</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>17818</string>
		<key>Country</key>
		<string>Kuwait</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>199951</string>
		<key>Country</key>
		<string>Kyrgyzstan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>236800</string>
		<key>Country</key>
		<string>Laos</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>64589</string>
		<key>Country</key>
		<string>Latvia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>10400</string>
		<key>Country</key>
		<string>Lebanon</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>30355</string>
		<key>Country</key>
		<string>Lesotho</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>111369</string>
		<key>Country</key>
		<string>Liberia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1759540</string>
		<key>Country</key>
		<string>Libya</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>160</string>
		<key>Country</key>
		<string>Liechtenstein</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>65300</string>
		<key>Country</key>
		<string>Lithuania</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2586</string>
		<key>Country</key>
		<string>Luxembourg</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>28</string>
		<key>Country</key>
		<string>Macau</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>25713</string>
		<key>Country</key>
		<string>Macedonia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>587041</string>
		<key>Country</key>
		<string>Madagascar</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>118484</string>
		<key>Country</key>
		<string>Malawi</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>329847</string>
		<key>Country</key>
		<string>Malaysia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>298</string>
		<key>Country</key>
		<string>Maldives</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1240192</string>
		<key>Country</key>
		<string>Mali</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>316</string>
		<key>Country</key>
		<string>Malta</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>181</string>
		<key>Country</key>
		<string>Marshall Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1030700</string>
		<key>Country</key>
		<string>Mauritania</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2040</string>
		<key>Country</key>
		<string>Mauritius</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1964375</string>
		<key>Country</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>702</string>
		<key>Country</key>
		<string>Micronesia, Federated States of</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>33851</string>
		<key>Country</key>
		<string>Moldova</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2</string>
		<key>Country</key>
		<string>Monaco</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1564116</string>
		<key>Country</key>
		<string>Mongolia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>13812</string>
		<key>Country</key>
		<string>Montenegro</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>102</string>
		<key>Country</key>
		<string>Montserrat</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>446550</string>
		<key>Country</key>
		<string>Morocco</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>799380</string>
		<key>Country</key>
		<string>Mozambique</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>824292</string>
		<key>Country</key>
		<string>Namibia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>21</string>
		<key>Country</key>
		<string>Nauru</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>5</string>
		<key>Country</key>
		<string>Navassa Island</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>147181</string>
		<key>Country</key>
		<string>Nepal</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>41543</string>
		<key>Country</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>18575</string>
		<key>Country</key>
		<string>New Caledonia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>267710</string>
		<key>Country</key>
		<string>New Zealand</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>130370</string>
		<key>Country</key>
		<string>Nicaragua</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1267000</string>
		<key>Country</key>
		<string>Niger</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>923768</string>
		<key>Country</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>260</string>
		<key>Country</key>
		<string>Niue</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>36</string>
		<key>Country</key>
		<string>Norfolk Island</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>464</string>
		<key>Country</key>
		<string>Northern Mariana Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>323802</string>
		<key>Country</key>
		<string>Norway</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>309500</string>
		<key>Country</key>
		<string>Oman</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>796095</string>
		<key>Country</key>
		<string>Pakistan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>459</string>
		<key>Country</key>
		<string>Palau</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>75420</string>
		<key>Country</key>
		<string>Panama</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>462840</string>
		<key>Country</key>
		<string>Papua New Guinea</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>406752</string>
		<key>Country</key>
		<string>Paraguay</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1285216</string>
		<key>Country</key>
		<string>Peru</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>300000</string>
		<key>Country</key>
		<string>Philippines</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>47</string>
		<key>Country</key>
		<string>Pitcairn Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>312685</string>
		<key>Country</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>92090</string>
		<key>Country</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>13790</string>
		<key>Country</key>
		<string>Puerto Rico</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>11586</string>
		<key>Country</key>
		<string>Qatar</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>238391</string>
		<key>Country</key>
		<string>Romania</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>17098242</string>
		<key>Country</key>
		<string>Russia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>26338</string>
		<key>Country</key>
		<string>Rwanda</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>308</string>
		<key>Country</key>
		<string>Saint Helena, Ascension, and Tristan da Cunha</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>261</string>
		<key>Country</key>
		<string>Saint Kitts and Nevis</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>616</string>
		<key>Country</key>
		<string>Saint Lucia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>54</string>
		<key>Country</key>
		<string>Saint Martin</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>242</string>
		<key>Country</key>
		<string>Saint Pierre and Miquelon</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>389</string>
		<key>Country</key>
		<string>Saint Vincent and the Grenadines</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2831</string>
		<key>Country</key>
		<string>Samoa</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>61</string>
		<key>Country</key>
		<string>San Marino</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>964</string>
		<key>Country</key>
		<string>Sao Tome and Principe</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>2149690</string>
		<key>Country</key>
		<string>Saudi Arabia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>196722</string>
		<key>Country</key>
		<string>Senegal</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>77474</string>
		<key>Country</key>
		<string>Serbia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>455</string>
		<key>Country</key>
		<string>Seychelles</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>71740</string>
		<key>Country</key>
		<string>Sierra Leone</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>697</string>
		<key>Country</key>
		<string>Singapore</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>34</string>
		<key>Country</key>
		<string>Sint Maarten</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>49035</string>
		<key>Country</key>
		<string>Slovakia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>20273</string>
		<key>Country</key>
		<string>Slovenia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>28896</string>
		<key>Country</key>
		<string>Solomon Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>637657</string>
		<key>Country</key>
		<string>Somalia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1219090</string>
		<key>Country</key>
		<string>South Africa</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>3903</string>
		<key>Country</key>
		<string>South Georgia and South Sandwich Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>644329</string>
		<key>Country</key>
		<string>South Sudan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>505370</string>
		<key>Country</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>5</string>
		<key>Country</key>
		<string>Spratly Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>65610</string>
		<key>Country</key>
		<string>Sri Lanka</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1861484</string>
		<key>Country</key>
		<string>Sudan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>163820</string>
		<key>Country</key>
		<string>Suriname</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>62045</string>
		<key>Country</key>
		<string>Svalbard</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>17364</string>
		<key>Country</key>
		<string>Swaziland</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>450295</string>
		<key>Country</key>
		<string>Sweden</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>41277</string>
		<key>Country</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>185180</string>
		<key>Country</key>
		<string>Syria</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>35980</string>
		<key>Country</key>
		<string>Taiwan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>143100</string>
		<key>Country</key>
		<string>Tajikistan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>947300</string>
		<key>Country</key>
		<string>Tanzania</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>513120</string>
		<key>Country</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>14874</string>
		<key>Country</key>
		<string>Timor-Leste</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>56785</string>
		<key>Country</key>
		<string>Togo</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>12</string>
		<key>Country</key>
		<string>Tokelau</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>747</string>
		<key>Country</key>
		<string>Tonga</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>5128</string>
		<key>Country</key>
		<string>Trinidad and Tobago</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>163610</string>
		<key>Country</key>
		<string>Tunisia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>783562</string>
		<key>Country</key>
		<string>Turkey</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>488100</string>
		<key>Country</key>
		<string>Turkmenistan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>948</string>
		<key>Country</key>
		<string>Turks and Caicos Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>26</string>
		<key>Country</key>
		<string>Tuvalu</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>241038</string>
		<key>Country</key>
		<string>Uganda</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>603550</string>
		<key>Country</key>
		<string>Ukraine</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>83600</string>
		<key>Country</key>
		<string>United Arab Emirates</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>243610</string>
		<key>Country</key>
		<string>United Kingdom</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>9826675</string>
		<key>Country</key>
		<string>United States</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>22</string>
		<key>Country</key>
		<string>United States Pacific Island Wildlife Refuges</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>176215</string>
		<key>Country</key>
		<string>Uruguay</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>447400</string>
		<key>Country</key>
		<string>Uzbekistan</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>12189</string>
		<key>Country</key>
		<string>Vanuatu</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>912050</string>
		<key>Country</key>
		<string>Venezuela</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>331210</string>
		<key>Country</key>
		<string>Vietnam</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>1910</string>
		<key>Country</key>
		<string>Virgin Islands</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>7</string>
		<key>Country</key>
		<string>Wake Island</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>142</string>
		<key>Country</key>
		<string>Wallis and Futuna</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>5860</string>
		<key>Country</key>
		<string>West Bank</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>266000</string>
		<key>Country</key>
		<string>Western Sahara</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>527968</string>
		<key>Country</key>
		<string>Yemen</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>752618</string>
		<key>Country</key>
		<string>Zambia</string>
	</dict>
	<dict>
		<key>Area</key>
		<string>390757</string>
		<key>Country</key>
		<string>Zimbabwe</string>
	</dict>
</array>
</plist>
