<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Country</key>
		<string>Afghanistan</string>
		<key>Earnings</key>
		<string>$1,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Albania</string>
		<key>Earnings</key>
		<string>$7,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Algeria</string>
		<key>Earnings</key>
		<string>$7,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>American Samoa</string>
		<key>Earnings</key>
		<string>$8,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Andorra</string>
		<key>Earnings</key>
		<string>$37,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Angola</string>
		<key>Earnings</key>
		<string>$6,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Anguilla</string>
		<key>Earnings</key>
		<string>$12,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Antigua and Barbuda</string>
		<key>Earnings</key>
		<string>$18,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Argentina</string>
		<key>Earnings</key>
		<string>$17,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Armenia</string>
		<key>Earnings</key>
		<string>$5,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Aruba</string>
		<key>Earnings</key>
		<string>$21,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Australia</string>
		<key>Earnings</key>
		<string>$40,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Austria</string>
		<key>Earnings</key>
		<string>$42,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Azerbaijan</string>
		<key>Earnings</key>
		<string>$10,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Bahamas, The</string>
		<key>Earnings</key>
		<string>$31,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Bahrain</string>
		<key>Earnings</key>
		<string>$27,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Bangladesh</string>
		<key>Earnings</key>
		<string>$1,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Barbados</string>
		<key>Earnings</key>
		<string>$23,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Belarus</string>
		<key>Earnings</key>
		<string>$15,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Belgium</string>
		<key>Earnings</key>
		<string>$38,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Belize</string>
		<key>Earnings</key>
		<string>$8,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Benin</string>
		<key>Earnings</key>
		<string>$1,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Bermuda</string>
		<key>Earnings</key>
		<string>$69,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Bhutan</string>
		<key>Earnings</key>
		<string>$6,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Bolivia</string>
		<key>Earnings</key>
		<string>$4,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Bosnia and Herzegovina</string>
		<key>Earnings</key>
		<string>$8,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Botswana</string>
		<key>Earnings</key>
		<string>$16,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Brazil</string>
		<key>Earnings</key>
		<string>$11,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>British Virgin Islands</string>
		<key>Earnings</key>
		<string>$38,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Brunei</string>
		<key>Earnings</key>
		<string>$50,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Bulgaria</string>
		<key>Earnings</key>
		<string>$13,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Burkina Faso</string>
		<key>Earnings</key>
		<string>$1,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Burma</string>
		<key>Earnings</key>
		<string>$1,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Burundi</string>
		<key>Earnings</key>
		<string>$600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Cambodia</string>
		<key>Earnings</key>
		<string>$2,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Cameroon</string>
		<key>Earnings</key>
		<string>$2,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Canada</string>
		<key>Earnings</key>
		<string>$41,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Cape Verde</string>
		<key>Earnings</key>
		<string>$4,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Cayman Islands</string>
		<key>Earnings</key>
		<string>$43,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Central African Republic</string>
		<key>Earnings</key>
		<string>$800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Chad</string>
		<key>Earnings</key>
		<string>$1,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Chile</string>
		<key>Earnings</key>
		<string>$17,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>China</string>
		<key>Earnings</key>
		<string>$8,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Colombia</string>
		<key>Earnings</key>
		<string>$10,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Comoros</string>
		<key>Earnings</key>
		<string>$1,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Congo, Democratic Republic of the</string>
		<key>Earnings</key>
		<string>$400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Congo, Republic of the</string>
		<key>Earnings</key>
		<string>$4,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Cook Islands</string>
		<key>Earnings</key>
		<string>$9,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Costa Rica</string>
		<key>Earnings</key>
		<string>$12,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Cote d'Ivoire</string>
		<key>Earnings</key>
		<string>$1,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Croatia</string>
		<key>Earnings</key>
		<string>$18,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Cuba</string>
		<key>Earnings</key>
		<string>$9,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Curacao</string>
		<key>Earnings</key>
		<string>$15,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Cyprus</string>
		<key>Earnings</key>
		<string>$29,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Czech Republic</string>
		<key>Earnings</key>
		<string>$27,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Denmark</string>
		<key>Earnings</key>
		<string>$37,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Djibouti</string>
		<key>Earnings</key>
		<string>$2,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Dominica</string>
		<key>Earnings</key>
		<string>$14,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Dominican Republic</string>
		<key>Earnings</key>
		<string>$9,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Ecuador</string>
		<key>Earnings</key>
		<string>$8,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Egypt</string>
		<key>Earnings</key>
		<string>$6,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>El Salvador</string>
		<key>Earnings</key>
		<string>$7,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Equatorial Guinea</string>
		<key>Earnings</key>
		<string>$19,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Eritrea</string>
		<key>Earnings</key>
		<string>$700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Estonia</string>
		<key>Earnings</key>
		<string>$20,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Ethiopia</string>
		<key>Earnings</key>
		<string>$1,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>European Union</string>
		<key>Earnings</key>
		<string>$34,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Falkland Islands (Islas Malvinas)</string>
		<key>Earnings</key>
		<string>$55,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Faroe Islands</string>
		<key>Earnings</key>
		<string>$30,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Fiji</string>
		<key>Earnings</key>
		<string>$4,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Finland</string>
		<key>Earnings</key>
		<string>$36,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>France</string>
		<key>Earnings</key>
		<string>$35,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>French Polynesia</string>
		<key>Earnings</key>
		<string>$18,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Gabon</string>
		<key>Earnings</key>
		<string>$16,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Gambia, The</string>
		<key>Earnings</key>
		<string>$2,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Georgia</string>
		<key>Earnings</key>
		<string>$5,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Germany</string>
		<key>Earnings</key>
		<string>$38,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Ghana</string>
		<key>Earnings</key>
		<string>$3,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Gibraltar</string>
		<key>Earnings</key>
		<string>$43,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Greece</string>
		<key>Earnings</key>
		<string>$26,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Greenland</string>
		<key>Earnings</key>
		<string>$37,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Grenada</string>
		<key>Earnings</key>
		<string>$14,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Guatemala</string>
		<key>Earnings</key>
		<string>$5,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Guernsey</string>
		<key>Earnings</key>
		<string>$44,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Guinea</string>
		<key>Earnings</key>
		<string>$1,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Guinea-Bissau</string>
		<key>Earnings</key>
		<string>$1,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Guyana</string>
		<key>Earnings</key>
		<string>$7,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Haiti</string>
		<key>Earnings</key>
		<string>$1,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Honduras</string>
		<key>Earnings</key>
		<string>$4,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Hong Kong</string>
		<key>Earnings</key>
		<string>$49,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Hungary</string>
		<key>Earnings</key>
		<string>$19,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Iceland</string>
		<key>Earnings</key>
		<string>$38,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>India</string>
		<key>Earnings</key>
		<string>$3,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Indonesia</string>
		<key>Earnings</key>
		<string>$4,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Iran</string>
		<key>Earnings</key>
		<string>$13,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Iraq</string>
		<key>Earnings</key>
		<string>$3,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Ireland</string>
		<key>Earnings</key>
		<string>$40,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Isle of Man</string>
		<key>Earnings</key>
		<string>$35,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Israel</string>
		<key>Earnings</key>
		<string>$31,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Italy</string>
		<key>Earnings</key>
		<string>$30,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Jamaica</string>
		<key>Earnings</key>
		<string>$9,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Japan</string>
		<key>Earnings</key>
		<string>$35,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Jersey</string>
		<key>Earnings</key>
		<string>$57,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Jordan</string>
		<key>Earnings</key>
		<string>$6,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Kazakhstan</string>
		<key>Earnings</key>
		<string>$13,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Kenya</string>
		<key>Earnings</key>
		<string>$1,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Kiribati</string>
		<key>Earnings</key>
		<string>$5,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Korea, North</string>
		<key>Earnings</key>
		<string>$1,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Korea, South</string>
		<key>Earnings</key>
		<string>$32,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Kosovo</string>
		<key>Earnings</key>
		<string>$6,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Kuwait</string>
		<key>Earnings</key>
		<string>$42,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Kyrgyzstan</string>
		<key>Earnings</key>
		<string>$2,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Laos</string>
		<key>Earnings</key>
		<string>$2,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Latvia</string>
		<key>Earnings</key>
		<string>$15,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Lebanon</string>
		<key>Earnings</key>
		<string>$15,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Lesotho</string>
		<key>Earnings</key>
		<string>$2,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Liberia</string>
		<key>Earnings</key>
		<string>$500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Libya</string>
		<key>Earnings</key>
		<string>$14,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Liechtenstein</string>
		<key>Earnings</key>
		<string>$141,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Lithuania</string>
		<key>Earnings</key>
		<string>$19,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Luxembourg</string>
		<key>Earnings</key>
		<string>$81,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Macau</string>
		<key>Earnings</key>
		<string>$33,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Macedonia</string>
		<key>Earnings</key>
		<string>$10,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Madagascar</string>
		<key>Earnings</key>
		<string>$900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Malawi</string>
		<key>Earnings</key>
		<string>$900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Malaysia</string>
		<key>Earnings</key>
		<string>$15,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Maldives</string>
		<key>Earnings</key>
		<string>$8,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Mali</string>
		<key>Earnings</key>
		<string>$1,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Malta</string>
		<key>Earnings</key>
		<string>$25,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Marshall Islands</string>
		<key>Earnings</key>
		<string>$2,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Mauritania</string>
		<key>Earnings</key>
		<string>$2,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Mauritius</string>
		<key>Earnings</key>
		<string>$15,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Mexico</string>
		<key>Earnings</key>
		<string>$14,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Micronesia, Federated States of</string>
		<key>Earnings</key>
		<string>$2,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Moldova</string>
		<key>Earnings</key>
		<string>$3,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Mongolia</string>
		<key>Earnings</key>
		<string>$4,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Montenegro</string>
		<key>Earnings</key>
		<string>$11,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Montserrat</string>
		<key>Earnings</key>
		<string>$8,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Morocco</string>
		<key>Earnings</key>
		<string>$5,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Mozambique</string>
		<key>Earnings</key>
		<string>$1,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Namibia</string>
		<key>Earnings</key>
		<string>$7,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Nauru</string>
		<key>Earnings</key>
		<string>$5,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Nepal</string>
		<key>Earnings</key>
		<string>$1,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Netherlands</string>
		<key>Earnings</key>
		<string>$42,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>New Caledonia</string>
		<key>Earnings</key>
		<string>$15,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>New Zealand</string>
		<key>Earnings</key>
		<string>$28,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Nicaragua</string>
		<key>Earnings</key>
		<string>$3,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Niger</string>
		<key>Earnings</key>
		<string>$800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Nigeria</string>
		<key>Earnings</key>
		<string>$2,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Niue</string>
		<key>Earnings</key>
		<string>$5,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Northern Mariana Islands</string>
		<key>Earnings</key>
		<string>$12,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Norway</string>
		<key>Earnings</key>
		<string>$54,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Oman</string>
		<key>Earnings</key>
		<string>$26,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Pakistan</string>
		<key>Earnings</key>
		<string>$2,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Palau</string>
		<key>Earnings</key>
		<string>$8,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Panama</string>
		<key>Earnings</key>
		<string>$14,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Papua New Guinea</string>
		<key>Earnings</key>
		<string>$2,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Paraguay</string>
		<key>Earnings</key>
		<string>$5,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Peru</string>
		<key>Earnings</key>
		<string>$10,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Philippines</string>
		<key>Earnings</key>
		<string>$4,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Poland</string>
		<key>Earnings</key>
		<string>$20,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Portugal</string>
		<key>Earnings</key>
		<string>$23,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Puerto Rico</string>
		<key>Earnings</key>
		<string>$16,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Qatar</string>
		<key>Earnings</key>
		<string>$104,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Romania</string>
		<key>Earnings</key>
		<string>$12,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Russia</string>
		<key>Earnings</key>
		<string>$17,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Rwanda</string>
		<key>Earnings</key>
		<string>$1,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Saint Helena, Ascension, and Tristan da Cunha</string>
		<key>Earnings</key>
		<string>$2,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Saint Kitts and Nevis</string>
		<key>Earnings</key>
		<string>$15,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Saint Lucia</string>
		<key>Earnings</key>
		<string>$12,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Saint Pierre and Miquelon</string>
		<key>Earnings</key>
		<string>$7,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>Earnings</key>
		<string>$11,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Samoa</string>
		<key>Earnings</key>
		<string>$6,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>San Marino</string>
		<key>Earnings</key>
		<string>$36,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Sao Tome and Principe</string>
		<key>Earnings</key>
		<string>$2,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Saudi Arabia</string>
		<key>Earnings</key>
		<string>$24,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Senegal</string>
		<key>Earnings</key>
		<string>$1,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Serbia</string>
		<key>Earnings</key>
		<string>$10,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Seychelles</string>
		<key>Earnings</key>
		<string>$25,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Sierra Leone</string>
		<key>Earnings</key>
		<string>$900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Singapore</string>
		<key>Earnings</key>
		<string>$60,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Sint Maarten</string>
		<key>Earnings</key>
		<string>$15,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Slovakia</string>
		<key>Earnings</key>
		<string>$23,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Slovenia</string>
		<key>Earnings</key>
		<string>$29,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Solomon Islands</string>
		<key>Earnings</key>
		<string>$3,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Somalia</string>
		<key>Earnings</key>
		<string>$600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>South Africa</string>
		<key>Earnings</key>
		<string>$11,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Spain</string>
		<key>Earnings</key>
		<string>$31,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Sri Lanka</string>
		<key>Earnings</key>
		<string>$5,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Sudan</string>
		<key>Earnings</key>
		<string>$2,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Suriname</string>
		<key>Earnings</key>
		<string>$9,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Swaziland</string>
		<key>Earnings</key>
		<string>$5,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Sweden</string>
		<key>Earnings</key>
		<string>$40,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Switzerland</string>
		<key>Earnings</key>
		<string>$43,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Syria</string>
		<key>Earnings</key>
		<string>$5,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Taiwan</string>
		<key>Earnings</key>
		<string>$38,200.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Tajikistan</string>
		<key>Earnings</key>
		<string>$2,100.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Tanzania</string>
		<key>Earnings</key>
		<string>$1,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Thailand</string>
		<key>Earnings</key>
		<string>$9,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Timor-Leste</string>
		<key>Earnings</key>
		<string>$8,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Togo</string>
		<key>Earnings</key>
		<string>$900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Tokelau</string>
		<key>Earnings</key>
		<string>$1,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Tonga</string>
		<key>Earnings</key>
		<string>$7,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Trinidad and Tobago</string>
		<key>Earnings</key>
		<string>$20,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Tunisia</string>
		<key>Earnings</key>
		<string>$9,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Turkey</string>
		<key>Earnings</key>
		<string>$14,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Turkmenistan</string>
		<key>Earnings</key>
		<string>$7,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Turks and Caicos Islands</string>
		<key>Earnings</key>
		<string>$11,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Tuvalu</string>
		<key>Earnings</key>
		<string>$3,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Uganda</string>
		<key>Earnings</key>
		<string>$1,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Ukraine</string>
		<key>Earnings</key>
		<string>$7,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>United Arab Emirates</string>
		<key>Earnings</key>
		<string>$48,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Earnings</key>
		<string>$36,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>United States</string>
		<key>Earnings</key>
		<string>$49,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Uruguay</string>
		<key>Earnings</key>
		<string>$15,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Uzbekistan</string>
		<key>Earnings</key>
		<string>$3,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Vanuatu</string>
		<key>Earnings</key>
		<string>$5,000.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Venezuela</string>
		<key>Earnings</key>
		<string>$12,700.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Vietnam</string>
		<key>Earnings</key>
		<string>$3,400.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Virgin Islands</string>
		<key>Earnings</key>
		<string>$14,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Wallis and Futuna</string>
		<key>Earnings</key>
		<string>$3,800.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>West Bank</string>
		<key>Earnings</key>
		<string>$2,900.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Western Sahara</string>
		<key>Earnings</key>
		<string>$2,500.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Yemen</string>
		<key>Earnings</key>
		<string>$2,300.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Zambia</string>
		<key>Earnings</key>
		<string>$1,600.00</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>Zimbabwe</string>
		<key>Earnings</key>
		<string>$500.00</string>
	</dict>
</array>
</plist>
