<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Center Latitude</key>
		<string>-26.0</string>
		<key>Center Longitude</key>
		<string>137.0</string>
		<key>Cost</key>
		<string>$3,365</string>
		<key>Cost per Capita</key>
		<string>17</string>
		<key>Country</key>
		<string>Australia</string>
		<key>Earnings per Capita</key>
		<string>$69,200</string>
		<key>Infant Mortality</key>
		<string>4.55</string>
		<key>Life Expectancy</key>
		<string>81.2</string>
		<key>Percent GDP</key>
		<string>8.5</string>
		<key>Rank Healthcare</key>
		<string>32</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>47.7</string>
		<key>Center Longitude</key>
		<string>14.6</string>
		<key>Cost</key>
		<string>$4,150</string>
		<key>Cost per Capita</key>
		<string>6</string>
		<key>Country</key>
		<string>Austria</string>
		<key>Earnings per Capita</key>
		<string>$51,700</string>
		<key>Infant Mortality</key>
		<string>4.26</string>
		<key>Life Expectancy</key>
		<string>79.8</string>
		<key>Percent GDP</key>
		<string>10.2</string>
		<key>Rank Healthcare</key>
		<string>9</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>50.7</string>
		<key>Center Longitude</key>
		<string>4.3</string>
		<key>Cost</key>
		<string>$4,096</string>
		<key>Cost per Capita</key>
		<string>15</string>
		<key>Country</key>
		<string>Belgium</string>
		<key>Earnings per Capita</key>
		<string>$50,700</string>
		<key>Infant Mortality</key>
		<string>4.28</string>
		<key>Life Expectancy</key>
		<string>79.4</string>
		<key>Percent GDP</key>
		<string>11.1</string>
		<key>Rank Healthcare</key>
		<string>21</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>57.0</string>
		<key>Center Longitude</key>
		<string>-102.0</string>
		<key>Cost</key>
		<string>$3,867</string>
		<key>Cost per Capita</key>
		<string>10</string>
		<key>Country</key>
		<string>Canada</string>
		<key>Earnings per Capita</key>
		<string>$51,700</string>
		<key>Infant Mortality</key>
		<string>4.85</string>
		<key>Life Expectancy</key>
		<string>80.7</string>
		<key>Percent GDP</key>
		<string>9.8</string>
		<key>Rank Healthcare</key>
		<string>30</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>-29.9</string>
		<key>Center Longitude</key>
		<string>-70.7</string>
		<key>Cost</key>
		<string>$1,088</string>
		<key>Cost per Capita</key>
		<string>44</string>
		<key>Country</key>
		<string>Chile</string>
		<key>Earnings per Capita</key>
		<string>$14,400</string>
		<key>Infant Mortality</key>
		<string>7.36</string>
		<key>Life Expectancy</key>
		<string>78.6</string>
		<key>Percent GDP</key>
		<string>7.5</string>
		<key>Rank Healthcare</key>
		<string>33</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>3.6</string>
		<key>Center Longitude</key>
		<string>-73.0</string>
		<key>Cost</key>
		<string>$517</string>
		<key>Cost per Capita</key>
		<string>49</string>
		<key>Country</key>
		<string>Columbia</string>
		<key>Earnings per Capita</key>
		<string>$7,200</string>
		<key>Infant Mortality</key>
		<string>15.92</string>
		<key>Life Expectancy</key>
		<string>72.9</string>
		<key>Percent GDP</key>
		<string>5.9</string>
		<key>Rank Healthcare</key>
		<string>22</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>10.1</string>
		<key>Center Longitude</key>
		<string>-84.3</string>
		<key>Cost</key>
		<string>$1,059</string>
		<key>Cost per Capita</key>
		<string>50</string>
		<key>Country</key>
		<string>Costa Rica</string>
		<key>Earnings per Capita</key>
		<string>$8,700</string>
		<key>Infant Mortality</key>
		<string>9.20</string>
		<key>Life Expectancy</key>
		<string>78.8</string>
		<key>Percent GDP</key>
		<string>9.4</string>
		<key>Rank Healthcare</key>
		<string>36</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>21.4</string>
		<key>Center Longitude</key>
		<string>-77.8</string>
		<key>Cost</key>
		<string>$495</string>
		<key>Cost per Capita</key>
		<string>118</string>
		<key>Country</key>
		<string>Cuba</string>
		<key>Earnings per Capita</key>
		<string>$5,200</string>
		<key>Infant Mortality</key>
		<string>4.83</string>
		<key>Life Expectancy</key>
		<string>78.3</string>
		<key>Percent GDP</key>
		<string>12.0</string>
		<key>Rank Healthcare</key>
		<string>39</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>56.0</string>
		<key>Center Longitude</key>
		<string>9.9</string>
		<key>Cost</key>
		<string>$3,814</string>
		<key>Cost per Capita</key>
		<string>8</string>
		<key>Country</key>
		<string>Denmark</string>
		<key>Earnings per Capita</key>
		<string>$59,800</string>
		<key>Infant Mortality</key>
		<string>4.19</string>
		<key>Life Expectancy</key>
		<string>78.3</string>
		<key>Percent GDP</key>
		<string>9.9</string>
		<key>Rank Healthcare</key>
		<string>34</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>18.9</string>
		<key>Center Longitude</key>
		<string>-70.3</string>
		<key>Cost</key>
		<string>$584</string>
		<key>Cost per Capita</key>
		<string>70</string>
		<key>Country</key>
		<string>Dominica</string>
		<key>Earnings per Capita</key>
		<string>$6,900</string>
		<key>Infant Mortality</key>
		<string>12.38</string>
		<key>Life Expectancy</key>
		<string>72.2</string>
		<key>Percent GDP</key>
		<string>6.0</string>
		<key>Rank Healthcare</key>
		<string>35</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>46.2</string>
		<key>Center Longitude</key>
		<string>2.6</string>
		<key>Cost</key>
		<string>$3,851</string>
		<key>Cost per Capita</key>
		<string>4</string>
		<key>Country</key>
		<string>France</string>
		<key>Earnings per Capita</key>
		<string>$43,100</string>
		<key>Infant Mortality</key>
		<string>3.37</string>
		<key>Life Expectancy</key>
		<string>80.7</string>
		<key>Percent GDP</key>
		<string>11.2</string>
		<key>Rank Healthcare</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>51.3</string>
		<key>Center Longitude</key>
		<string>9.9</string>
		<key>Cost</key>
		<string>$3,922</string>
		<key>Cost per Capita</key>
		<string>3</string>
		<key>Country</key>
		<string>Germany</string>
		<key>Earnings per Capita</key>
		<string>$44,500</string>
		<key>Infant Mortality</key>
		<string>3.51</string>
		<key>Life Expectancy</key>
		<string>79.4</string>
		<key>Percent GDP</key>
		<string>10.5</string>
		<key>Rank Healthcare</key>
		<string>25</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>39.4</string>
		<key>Center Longitude</key>
		<string>21.9</string>
		<key>Cost</key>
		<string>$3,010</string>
		<key>Cost per Capita</key>
		<string>30</string>
		<key>Country</key>
		<string>Greece</string>
		<key>Earnings per Capita</key>
		<string>$29,000</string>
		<key>Infant Mortality</key>
		<string>4.92</string>
		<key>Life Expectancy</key>
		<string>79.5</string>
		<key>Percent GDP</key>
		<string>10.1</string>
		<key>Rank Healthcare</key>
		<string>14</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>64.8</string>
		<key>Center Longitude</key>
		<string>-18.2</string>
		<key>Cost</key>
		<string>$3,583</string>
		<key>Cost per Capita</key>
		<string>14</string>
		<key>Country</key>
		<string>Iceland</string>
		<key>Earnings per Capita</key>
		<string>$43,500</string>
		<key>Infant Mortality</key>
		<string>3.18</string>
		<key>Life Expectancy</key>
		<string>81.8</string>
		<key>Percent GDP</key>
		<string>9.2</string>
		<key>Rank Healthcare</key>
		<string>15</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>53.0</string>
		<key>Center Longitude</key>
		<string>-7.7</string>
		<key>Cost</key>
		<string>$3,797</string>
		<key>Cost per Capita</key>
		<string>25</string>
		<key>Country</key>
		<string>Ireland</string>
		<key>Earnings per Capita</key>
		<string>$47,500</string>
		<key>Infant Mortality</key>
		<string>3.81</string>
		<key>Life Expectancy</key>
		<string>78.9</string>
		<key>Percent GDP</key>
		<string>8.7</string>
		<key>Rank Healthcare</key>
		<string>19</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>33.4</string>
		<key>Center Longitude</key>
		<string>33.5</string>
		<key>Cost</key>
		<string>$2,093</string>
		<key>Cost per Capita</key>
		<string>19</string>
		<key>Country</key>
		<string>Israel</string>
		<key>Earnings per Capita</key>
		<string>$32,800</string>
		<key>Infant Mortality</key>
		<string>4.07</string>
		<key>Life Expectancy</key>
		<string>82.0</string>
		<key>Percent GDP</key>
		<string>8.0</string>
		<key>Rank Healthcare</key>
		<string>28</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>43.2</string>
		<key>Center Longitude</key>
		<string>12.3</string>
		<key>Cost</key>
		<string>$2,836</string>
		<key>Cost per Capita</key>
		<string>11</string>
		<key>Country</key>
		<string>Italy</string>
		<key>Earnings per Capita</key>
		<string>$36,800</string>
		<key>Infant Mortality</key>
		<string>3.36</string>
		<key>Life Expectancy</key>
		<string>80.5</string>
		<key>Percent GDP</key>
		<string>8.7</string>
		<key>Rank Healthcare</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>37.0</string>
		<key>Center Longitude</key>
		<string>139.3</string>
		<key>Cost</key>
		<string>$2,817</string>
		<key>Cost per Capita</key>
		<string>13</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Earnings per Capita</key>
		<string>$45,900</string>
		<key>Infant Mortality</key>
		<string>2.21</string>
		<key>Life Expectancy</key>
		<string>82.6</string>
		<key>Percent GDP</key>
		<string>8.3</string>
		<key>Rank Healthcare</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>29.3</string>
		<key>Center Longitude</key>
		<string>47.8</string>
		<key>Cost</key>
		<string>$932</string>
		<key>Cost per Capita</key>
		<string>41</string>
		<key>Country</key>
		<string>Kuwait</string>
		<key>Earnings per Capita</key>
		<string>$65,900</string>
		<key>Infant Mortality</key>
		<string>7.87</string>
		<key>Life Expectancy</key>
		<string>77.6</string>
		<key>Percent GDP</key>
		<string>2.0</string>
		<key>Rank Healthcare</key>
		<string>45</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>-1.2</string>
		<key>Center Longitude</key>
		<string>102.6</string>
		<key>Cost</key>
		<string>$621</string>
		<key>Cost per Capita</key>
		<string>93</string>
		<key>Country</key>
		<string>Malaysia</string>
		<key>Earnings per Capita</key>
		<string>$8,600</string>
		<key>Infant Mortality</key>
		<string>14.57</string>
		<key>Life Expectancy</key>
		<string>74.2</string>
		<key>Percent GDP</key>
		<string>4.3</string>
		<key>Rank Healthcare</key>
		<string>49</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>32.2</string>
		<key>Center Longitude</key>
		<string>-6.4</string>
		<key>Cost</key>
		<string>$231</string>
		<key>Cost per Capita</key>
		<string>99</string>
		<key>Country</key>
		<string>Morocco</string>
		<key>Earnings per Capita</key>
		<string>$3,200</string>
		<key>Infant Mortality</key>
		<string>36.88</string>
		<key>Life Expectancy</key>
		<string>71.2</string>
		<key>Percent GDP</key>
		<string>5.3</string>
		<key>Rank Healthcare</key>
		<string>29</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>51.9</string>
		<key>Center Longitude</key>
		<string>8.2</string>
		<key>Cost</key>
		<string>$4,283</string>
		<key>Cost per Capita</key>
		<string>9</string>
		<key>Country</key>
		<string>Netherlands</string>
		<key>Earnings per Capita</key>
		<string>$51,500</string>
		<key>Infant Mortality</key>
		<string>3.73</string>
		<key>Life Expectancy</key>
		<string>79.8</string>
		<key>Percent GDP</key>
		<string>9.9</string>
		<key>Rank Healthcare</key>
		<string>17</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>-41.8</string>
		<key>Center Longitude</key>
		<string>172.9</string>
		<key>Cost</key>
		<string>$2,655</string>
		<key>Cost per Capita</key>
		<string>20</string>
		<key>Country</key>
		<string>New Zealand</string>
		<key>Earnings per Capita</key>
		<string>$39,500</string>
		<key>Infant Mortality</key>
		<string>4.72</string>
		<key>Life Expectancy</key>
		<string>80.2</string>
		<key>Percent GDP</key>
		<string>9.7</string>
		<key>Rank Healthcare</key>
		<string>41</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>61.2</string>
		<key>Center Longitude</key>
		<string>8.4</string>
		<key>Cost</key>
		<string>$5,207</string>
		<key>Cost per Capita</key>
		<string>16</string>
		<key>Country</key>
		<string>Norway</string>
		<key>Earnings per Capita</key>
		<string>$102,200</string>
		<key>Infant Mortality</key>
		<string>3.50</string>
		<key>Life Expectancy</key>
		<string>80.2</string>
		<key>Percent GDP</key>
		<string>8.5</string>
		<key>Rank Healthcare</key>
		<string>11</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>52.4</string>
		<key>Center Longitude</key>
		<string>19.6</string>
		<key>Cost</key>
		<string>$1,271</string>
		<key>Cost per Capita</key>
		<string>58</string>
		<key>Country</key>
		<string>Poland</string>
		<key>Earnings per Capita</key>
		<string>$13,800</string>
		<key>Infant Mortality</key>
		<string>6.42</string>
		<key>Life Expectancy</key>
		<string>75.6</string>
		<key>Percent GDP</key>
		<string>7.0</string>
		<key>Rank Healthcare</key>
		<string>50</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>40.0</string>
		<key>Center Longitude</key>
		<string>-8.0</string>
		<key>Cost</key>
		<string>$2,578</string>
		<key>Cost per Capita</key>
		<string>28</string>
		<key>Country</key>
		<string>Portugal</string>
		<key>Earnings per Capita</key>
		<string>$22,500</string>
		<key>Infant Mortality</key>
		<string>4.60</string>
		<key>Life Expectancy</key>
		<string>78.1</string>
		<key>Percent GDP</key>
		<string>10.6</string>
		<key>Rank Healthcare</key>
		<string>12</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>24.0</string>
		<key>Center Longitude</key>
		<string>46.2</string>
		<key>Cost</key>
		<string>$831</string>
		<key>Cost per Capita</key>
		<string>63</string>
		<key>Country</key>
		<string>Saudi Arabia</string>
		<key>Earnings per Capita</key>
		<string>$21,400</string>
		<key>Infant Mortality</key>
		<string>15.61</string>
		<key>Life Expectancy</key>
		<string>72.8</string>
		<key>Percent GDP</key>
		<string>3.6</string>
		<key>Rank Healthcare</key>
		<string>26</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>1.3</string>
		<key>Center Longitude</key>
		<string>103.9</string>
		<key>Cost</key>
		<string>$1,833</string>
		<key>Cost per Capita</key>
		<string>38</string>
		<key>Country</key>
		<string>Singapore</string>
		<key>Earnings per Capita</key>
		<string>$50,800</string>
		<key>Infant Mortality</key>
		<string>2.31</string>
		<key>Life Expectancy</key>
		<string>81.0</string>
		<key>Percent GDP</key>
		<string>3.3</string>
		<key>Rank Healthcare</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>46.1</string>
		<key>Center Longitude</key>
		<string>14.8</string>
		<key>Cost</key>
		<string>$2,420</string>
		<key>Cost per Capita</key>
		<string>29</string>
		<key>Country</key>
		<string>Slovenia</string>
		<key>Earnings per Capita</key>
		<string>$26,200</string>
		<key>Infant Mortality</key>
		<string>4.12</string>
		<key>Life Expectancy</key>
		<string>77.9</string>
		<key>Percent GDP</key>
		<string>8.3</string>
		<key>Rank Healthcare</key>
		<string>38</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>40.0</string>
		<key>Center Longitude</key>
		<string>-3.6</string>
		<key>Cost</key>
		<string>$2,941</string>
		<key>Cost per Capita</key>
		<string>24</string>
		<key>Country</key>
		<string>Spain</string>
		<key>Earnings per Capita</key>
		<string>$32,900</string>
		<key>Infant Mortality</key>
		<string>3.37</string>
		<key>Life Expectancy</key>
		<string>80.9</string>
		<key>Percent GDP</key>
		<string>9.0</string>
		<key>Rank Healthcare</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>63.0</string>
		<key>Center Longitude</key>
		<string>15.6</string>
		<key>Cost</key>
		<string>$3,622</string>
		<key>Cost per Capita</key>
		<string>7</string>
		<key>Country</key>
		<string>Sweden</string>
		<key>Earnings per Capita</key>
		<string>$62,900</string>
		<key>Infant Mortality</key>
		<string>2.74</string>
		<key>Life Expectancy</key>
		<string>80.9</string>
		<key>Percent GDP</key>
		<string>9.4</string>
		<key>Rank Healthcare</key>
		<string>23</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>46.8</string>
		<key>Center Longitude</key>
		<string>8.1</string>
		<key>Cost</key>
		<string>$4,815</string>
		<key>Cost per Capita</key>
		<string>2</string>
		<key>Country</key>
		<string>Switzerland</string>
		<key>Earnings per Capita</key>
		<string>$87,200</string>
		<key>Infant Mortality</key>
		<string>4.03</string>
		<key>Life Expectancy</key>
		<string>82.1</string>
		<key>Percent GDP</key>
		<string>10.7</string>
		<key>Rank Healthcare</key>
		<string>20</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>14.6</string>
		<key>Center Longitude</key>
		<string>101.2</string>
		<key>Cost</key>
		<string>$328</string>
		<key>Cost per Capita</key>
		<string>64</string>
		<key>Country</key>
		<string>Thailand</string>
		<key>Earnings per Capita</key>
		<string>$5,300</string>
		<key>Infant Mortality</key>
		<string>15.90</string>
		<key>Life Expectancy</key>
		<string>70.6</string>
		<key>Percent GDP</key>
		<string>4.1</string>
		<key>Rank Healthcare</key>
		<string>47</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>52.5</string>
		<key>Center Longitude</key>
		<string>-1.4</string>
		<key>Cost</key>
		<string>$3,222</string>
		<key>Cost per Capita</key>
		<string>26</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Earnings per Capita</key>
		<string>$39,600</string>
		<key>Infant Mortality</key>
		<string>4.56</string>
		<key>Life Expectancy</key>
		<string>80.5</string>
		<key>Percent GDP</key>
		<string>8.7</string>
		<key>Rank Healthcare</key>
		<string>18</string>
	</dict>
	<dict>
		<key>Center Latitude</key>
		<string>39.0</string>
		<key>Center Longitude</key>
		<string>-97.0</string>
		<key>Cost</key>
		<string>$7,164</string>
		<key>Cost per Capita</key>
		<string>1</string>
		<key>Country</key>
		<string>United States</string>
		<key>Earnings per Capita</key>
		<string>$48,400</string>
		<key>Infant Mortality</key>
		<string>5.98</string>
		<key>Life Expectancy</key>
		<string>78.2</string>
		<key>Percent GDP</key>
		<string>15.2</string>
		<key>Rank Healthcare</key>
		<string>37</string>
	</dict>
</array>
</plist>
